[default]
SECRET_KEY = 'my-secret-key'
GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''
GOOGLE_DISCOVERY_URL = ''

[development]
SQLALCHEMY_DATABASE_URI = "postgresql://sala_de_estudos:1234@localhost/saladeestudos"

[test]
SQLALCHEMY_DATABASE_URI = "sqlite:///test.sqlite"
